.container {
  grid-column: 1 / 4;
  grid-row: 3;
  margin-top: -10px;
  width: 100%;
  height: 400px;
}

.container-text{
  margin: 50px 300px;
}
.img-cosmos img{
  width: 200%;
  margin-left: -100px;

}
.comment-text h1{
  font-size: 15px;
  margin-left: -100px;
  text-align: justify;
}
.comment-text p{
  font-size: 12px;
  margin-left: -100px;
  text-align: justify;
}
.article1{
  margin: 50px 300px;
  }
.article1 h1{
  font-size: 15px;
  font-family: sans-serif;
}
.article1 a{
  color: black;
  text-decoration: none;
}
.article1 a:hover{
  color: black;
  text-decoration: underline;
}
.journalist p{
  margin: 20px 300px;
  font-family: sans-serif;
  font-size: 12px;
}
.journalist li{
  list-style: none;
  margin-top: 30px;
}
.social-icons{
  display: flex;
  justify-content: flex-end;
  margin-right:140px;
}
.social-icons li{
  list-style: none;
  font-size: 25px;
  margin-top: -40px;
  margin-right:15px;
}
.social-link{
  display: flex;
  justify-content: flex-end;
}
.social-link li{
  list-style: none;
  margin-top: -40px;
  margin-right:10px;
}
.social-icons a,.social-link a{
  color: grey;
}
.social-icons a:hover,.social-link a:hover{
  color: black;
}
.article2{
  margin: 20px 10px 0px 295px;
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
}

  .article3{
    margin: 20px 10px 0px 295px;
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
  }
  .article3 a{
    text-decoration: underline;
    color: blue;
  }
.article3 a:hover{
  text-decoration: none;
  color:blue;
}

.article4{
  margin: 100px 10px 0px 295px;
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
}
.article4 h1{
  font-size: 25px;
}
.article5{
  margin: 150px 10px 0px 295px;
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
  z-index: 1;
}
.article5 h2{
  font-size: 20px;
}
.article5 p{
  font-size: 15px;
  margin-top: -15px;
}
.article5 img,.article9 img{
  width: 100%;
}
.explain1 p{
  margin-top: -700px;
  margin-left: 20px;
  font-family: sans-serif;
  z-index: 2;
  font-size: 12px;
}
.explain2 p{
  margin-top: -175px;
  margin-left: 280px;
  font-family: sans-serif;
  z-index: 2;
  font-size: 12px;
  line-height: 1.5;
}
.explain3 p{
  margin-top: -190px;
  margin-left: 510px;
  font-family: sans-serif;
  z-index: 2;
  font-size: 12px;
  line-height: 1.5;
}
.explain4 h6{
  margin-top: 255px;
  margin-left: 20px;
  font-family: sans-serif;
  z-index: 2;
  font-size: 12px;
}
.explain4 p{
  margin-top: -50px;
  margin-left: 20px;
  font-family: sans-serif;
  z-index: 2;
  font-size: 12px;
}
.explain5 p{
  margin-top: -200px;
  margin-left: 280px;
  font-family: sans-serif;
  z-index: 2;
  font-size: 12px;
}
.explain6 p{
  margin-top: -210px;
  margin-left: 510px;
  font-family: sans-serif;
  z-index: 2;
  font-size: 12px;
  line-height: 1.5;
}
.article6{
  margin-top: 100px;
  margin-left: 23px;
}
.article6 p{
  font-size: 20px;
  margin-top: 50px;
}
.article6 h1{
  font-size: 15px;
  font-family: sans-serif;
  font-style: normal;
}
.article7{
  margin: 50px 10px 0px 295px;
}
.article7 p{
  font-size: 20px;
  line-height: 1.5;
}
.article7 a{
  text-decoration: none;
  color: blue;
}
.article7 a:hover{
  text-decoration: underline;
}
.video{
  margin: 50px 20px 50px 350px;
}
.video h4{
  margin-top: 5px;
  color: dimgrey;
}
.video h5{
  margin-top: -10px;
  color: grey;
}
.article8{
  margin: 50px 10px 0px 295px;
}
.article8 p{
  font-size: 20px;
  line-height: 1.5;
}
.article9{
  margin: 50px 10px 0px 295px;
}
.article9 p{
  font-size: 20px;
  line-height: 1.5;
}
.article9 h4{
font-weight: normal;
color: grey;
}
.article9 h5{
font-weight: normal;
color: dimgrey;
margin-top: -10px;
}
.article9 h6{
font-weight: normal;
color: dimgrey;
margin-top: -10px;
line-height: 1.5;
font-size: 12px;
}
.btn4{
  text-align: center;
  font-size: 15px;
  color: white;
  width: 400px;
  height: 35px;
  padding:5px 5px;
  font-weight: bold;
}
.social-icons-2{
  display: flex;
  justify-content: flex-end;
  margin-right:90px;
}
.social-icons-2 li{
  list-style: none;
  font-size: 25px;
  margin-top: -30px;
  margin-right:30px;
}
.social-link-2{
  display: flex;
  justify-content: flex-end;
  margin-right:30px;
}
.social-link-2 li{
  list-style: none;
  margin-top: -30px;
  margin-right:10px;
}
.social-icons-2 a,.social-link-2 a{
  color: grey;
}
.social-icons-2 a:hover,.social-link-2 a:hover{
  color: black;
}
