.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-top:11000px;
  margin-left: 100px;
  margin-right: 100px;
  height: 500px;
}
.top {
  grid-column: 1 / 2;
  grid-row: 1/3;
  width: 800px;
  border-top: 2px solid black;
  background-color: red;

}
.right {
  grid-column: 4 / 4;
  grid-row: 1 / 4;
  width: 300px;
  border-top: 2px solid black;

}
.bottom {
  grid-column: 1 / 2;
  grid-row: 3/3;
  width: 800px;
  border-top: 2px solid black;

}
.pic-top-1,.pic-top-2,.pic-top-3{
  display: flex;
  justify-content:center;
}
.top h1,.right h1,.bottom h1{
  font-size: 15px;
  font-weight: bold;
  font-family: sans-serif;
  color: black;
}
.top a,.right a,.bottom a{
  text-decoration:none;
  font-size: 15px;
  font-weight: bold;
  font-family: sans-serif;
  color: black;
}
.pic1 img,.pic2 img,.pic3 img,.pic4 img,.pic5 img,.pic6 img,.pic7 img,.pic8 img,.pic9 img{
  margin-right: 5px;
  width: 90%;
}
.pic1 h5,.pic2 h5,.pic3 h5,.pic4 h5,.pic5 h5,.pic6 h5,.pic7 h5,.pic8 h5,.pic9 h5{
  text-align: right;
  margin-top: 5px;
  margin-right: 33px;
  font-size: 10px;
  color: grey;
}
.pic1 p,.pic2 p,.pic3 p,.pic4 p,.pic5 p,.pic6 p,.pic7 p,.pic8 p{
  margin-top: -8px;
  font-size: 17px;
}
.pic9 p{
  margin-top: 25px;
}
.pic1 p:hover,.pic2 p:hover,.pic3 p:hover,.pic4 p:hover,.pic5 p:hover,.pic6 p:hover,.pic7 p:hover,.pic8 p:hover,.pic9 p:hover{
  color:grey;
}
.pic1 h6,.pic2 h6,.pic3 h6,.pic4 h6,.pic5 h6,.pic6 h6,.pic7 h6,.pic8 h6,.pic9 h6{
  margin-top: -5px;
  margin-right: 33px;
  font-size: 12px;
  color: grey;
}

.right p{
  border-bottom: 1px solid grey;
  padding: 0px 0 10px 0px;
  margin-top: 10px;
}
.rubrique{
  margin-top: -36px;
  border: 1px solid lightgrey;
  padding-bottom: 100px;
}
.rubrique-1{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  border-top: 3px solid black;
}
.rubrique-1 img{
  width: 20%;
  margin-left: -40px;
}
.home{
  display: flex;
  justify-content: flex-end;
  margin-right: 110px;
  margin-top: -100px;
}
.home a{
  text-decoration: none;
  color:blue;
}
.home p,.home i{
  font-size: 10px;
}
.home i{
  margin-top: 8px;
  margin-right: -10px;
}
.new{
  margin-top: 30px;
  margin-left: 100px;
}
.opinion{
  margin-top: -435px;
  margin-left: 250px;
}
.art{
  margin-top: -265px;
  margin-left: 450px;
}

.living{
  margin-top: -365px;
  margin-left: 600px;
}
.more{
  margin-top: -435px;
  margin-left: 800px;
}
.sub{
  margin-top: -432px;
  margin-left: 1000px;
  border-left: 1px solid black;
  padding-left: 10px;

}
.new h1,.opinion h1,.art h1,.living h1,.more h1,.sub h1{
  font-size: 10px;
  font-family: sans-serif;
  font-weight: bold;
}
.new a,.opinion a,.art a,.living a,.more a{
  text-decoration: none;
  color: black;
  font-size: 15px;
  margin-top: -5px;
  line-height: -0.5;
}
.new a:hover,.opinion a:hover,.art a:hover,.living a:hover,.more a:hover{
  text-decoration: underline;
  color: black;
}
.sub li{
  list-style:none;
  font-weight: bold;
  line-height: 2;
}
.sub p{
  font-weight: bold;
}
.mob{
  border-top: 1px solid black;
}
.sub b{
  font-size: 12px;
  font-family: sans-serif;
}
.sub a{
  text-decoration: none;
  color:black;
}
.sub a:hover{
  text-decoration: underline;
  color: black;
}
.link-email a,.mob a{
  font-size: 10px;
}
.mob{
  margin-right: 100px;
}
.flex-end{
  display: flex;
  justify-content: center;
}
.flex-end p{
  font-size: 10px;
  margin-right: 10px;
}
.flex-end a{
  text-decoration: none;
  color: grey;
}
.flex-end a:hover{
  text-decoration: underline;
  color: grey;
}
