.pub1{
  grid-column: 1 / 5;
  grid-row: 2;
  background-color: palevioletred;
  margin-top: 50px;
  width: 100%;
  height: 300px;
  text-align: center;
}
.pub2,.pub4,.pub5{
  grid-column: 5;
  grid-row: 3;
  background-color: red;
  margin-top: 50px;
  width: 133.5%;
  height: 300px;
  text-align: center;
}
.pub3{
  grid-column: 5;
  grid-row: 3;
  background-color: red;
  margin-top: 220px;
  width: 133.5%;
  height: 300px;
  text-align: center;
}
 .pub6{
   grid-column: 5;
   grid-row: 3;
   background-color: red;
   margin-top: 30px;
   margin-left: -300px;
   width: 191.5%;
   height: 300px;
   text-align: center;
 }
 .pub7{
   grid-column: 5;
   grid-row: 3;
   background-color: red;
   margin-top: 530px;
   margin-left: -38px;
   width: 102.5%;
   height: 300px;
   text-align: center;
 }
